* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  background: rgba(0, 0, 0, 0.9);
  font-size: var(--font-size-base);
  line-height: 1;
  font-family: var(--font-family-primary);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: var(--font-family-primary);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}
input,
textarea {
  width: 100%;
}
button,
select,
option {
  cursor: pointer;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
::-webkit-scrollbar {
  height: 1px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.8);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
::selection {
  background: var(--second-color);
}
main {
  margin: 0 auto;
}
.container__main {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding: 50px;
  }
}
