<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <div class="header__logo">
        <a href="" class="header__logo_link">MovieTime</a>
      </div>
      <div class="header__action">
        <a [routerLink]="'/favorite'" class="header__btn secondary__btn">
          <svg class="header__icons icons">
            <use href="assets/images/symbol-defs.svg#favorite"></use>
          </svg>
          <p class="header__text">Favorite List</p>
          <span class="header__list_quantity" *ngIf="favoriteListLength">{{
            favoriteListLength
          }}</span>
        </a>
        <a [routerLink]="'/watch'" class="header__btn secondary__btn">
          <svg class="header__icons icons">
            <use href="assets/images/symbol-defs.svg#eye"></use>
          </svg>
          <p class="header__text">Watch List</p>
          <span class="header__list_quantity" *ngIf="watchListLength">{{
            watchListLength
          }}</span>
        </a>
      </div>
    </nav>
  </div>
</header>
