.movie__list_item {
  width: 100%;
  position: relative;
  list-style: none;
  scroll-snap-align: center;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  border: 1px solid #ffffff;
  overflow: hidden;
}


.movie__list_title {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 24px;
  white-space: nowrap;

  @media screen and (min-width:768px) {
    font-size: 18px;
  }
}

.movie__list_text {
  position: relative;
  z-index: 2;
  margin: 0;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: silver;
  font-size: 14px;
}

.movie__list_image {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 30%;
  object-fit: cover;
  z-index: 1;
  border-radius: 10px;

  @media screen and (min-width:768px) {
    min-height: 50%;
  }
}

.movie__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  transition: height 300ms ease;
  height: 32%;

  @media screen and (min-width:378px) {
    height: 20%;
  }

  @media screen and (min-width:768px) {
    height: 20%;
  }
}

.movie__active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding: 0 10px;
}

.movie__actions {
  display: flex;
  gap: 7px;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 10px;

}

.more .movie__info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 63%;
  gap: 10px;
  transition: height 300ms ease;
  background-color: #1e1e1e;
  padding: 35px 20px;
  transition: height 300ms ease;
}

.more .movie__list_text {
  display: none;
}

.overview {
  position: absolute;
  z-index: -1;
}

.more .overview {
  display: block;
  position: relative;
  z-index: 2;
}